<!doctype html>
<html class="no-js" lang="">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="icon" type="image/png" href="favicon.png" />

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="js/angular.min.js"></script>
    </head>

    <body ng-app="toDoApp" ng-controller="myController">
        <div class="padding"></div>
        <div id="list">
            <div id="greeting">Good {{greeting}}. What would you like to do today?</div>
            <form ng-submit="addToDo()">
                <input type="text" id="input" ng-model="toDoText"/>
            </form>
            <div class="toDos" ng-repeat="each in toDos">
                <input type="checkbox" ng-model="each.done"/>
                <span class="done-{{each.done}}">{{each.text}}</span>
            </div>
        </div>
        <script>
            window.onload = function(){
                $('.background').fadeIn(4000);
                $('#list').css('visibility','visible').hide().fadeIn(2000);
            };
        </script>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
